body {
    background-color: #eee;
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    border: 2px solid #999;
    width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

header {
    border: 2px solid #999;
    height: 150px;
    margin-bottom: 10px;
}

nav {
    border: 2px solid #999;
    margin-bottom: 10px;
}

section {
    border: 2px solid #999;
    margin-bottom: 10px;
    width: 400px;
    float: left;
}

aside {
    border: 2px solid #999;
    margin-bottom: 10px;
    width: 182px;
    float: right;
}

footer {
    border: 2px solid #999;
}

.clear {
    clear: both;
}